# Ignore shared objects
*.so
# Ignore objects
*.o
# Ignore binaries
test_nls
solve
# Ignore object files directory
obj/
# Ignore fortran module files
*.mod
# Ignore compiled python binaries
*.pyc
# Ignore zip-files
*.zip
# Ignore mat-files
*.mat
